* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
section h2,
section h3  {
    font-family: "Russo One", sans-serif;
    font-weight: 400px;
    font-style: normal;
}

body,
input,
textarea {
    font-family: "Roboto", sans-serif;
}

header {
    padding: 16px 0;
    background-color: rgb(0, 0, 0);
    color: rgb(248, 248, 248);
}

header img {
    height: 48px;
    margin-left: 120px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container {
    justify-content: space-between;
    align-items: flex-start;
}

#explanation h2,
#explanation p,
#about h2,
#about p,
#rules h2 {
    text-align: center;
    padding: 8px 10%;
}

.color-rule {
    color: rgb(196, 0, 0);
}

section {
    padding: 24px 0;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 3, 3);
}

section h2 {
    margin-bottom: 16px;
}

section p {
    margin-bottom: 8px;
}

.mark {
    display: block;
    margin: 0 55% 0 49%;
    height: 80px;
}
.social-links img {
    height: 24px;
    margin-left: 10px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

.social-links li a {
    text-decoration: none;
}

#contact .container {
    display: block;
}

.text-centralize {
    margin-left: 5px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: rgb(185, 185, 185);
}

input:focus,
textarea:focus {
    outline-color: rgb(0, 0, 0);
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 16px 0;
}